
<h1>Vea màs acerca de nosotros en: </h1>

<table class="table table-striped">
<tr>
  <td class="active">
<%= link_to "Qué es papayera?", "https://sites.google.com/site/queespapayera/", target: "_blank", rel: "alternate" %>
  </td>
  <td class="success">
<%= link_to "Papayera Medellín", "https://sites.google.com/site/papayeramedellin/", target: "_blank", rel: "alternate" %>
	</td>
	<td>
<%= link_to "Fiesta y cumbia", "http://fiestaycumbia.wixsite.com/papayera-chirimia", target: "_blank", rel: "alternate" %>
	</td>
	<td class="danger">
<%= link_to "Chirimia Medellín", "https://papayera-chirimia-medellin.000webhostapp.com/", target: "_blank", rel: "alternate" %>
	</td>
  </tr>
</table>