<html>
<head>
<style type="text/css">
body {
	background-color: #848484;
}
.Estilo2 {
	font-size: 70px;
	font-weight: bold;
}
.Estilo3 {color: #FFFF00}
.Estilo4 {color: #0000FF}
.Estilo8 {
	color: #000000;
	font-weight: bold;
	font-size: 24px;
}
.Estilo10 {color: #FF0066}
.Estilo17 {
	color: #000000;
	font-weight: bold;
	font-size: 24px;
	font-style: italic;
}
.Estilo18 {color: #CCFF66}
.Estilo19 {color: #CCFF33}
.Estilo20 {color: #CCFF00}
.Estilo21 {color: #CC00FF}
.Estilo22 {color: #FF33FF}
.Estilo23 {color: #FF9900}
.Estilo24 {color: #00FFFF}
.Estilo25 {color: #3399FF}
.Estilo26 {color: #666633}
.Estilo27 {color: #FFFF99}
.Estilo30 {color: #33FF00}
.Estilo31 {color: #FF0000}
.Estilo35 {
	color: #000000;
	font-weight: bold;
	font-size: 24px;
}
.Estilo36 {
	font-size: 24px
}
.Estilo39 {
	color: #ffff00;
	font-weight: bold;
	font-size: 36px;
}
.Estilo40 {
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #CCCC00;
}
#ueles{
	background: #def;
}
sub{color: #000
}
h1{text-align: center;
}
</style>
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>

<body>
<div align="right">
    
</div>
<div id="ueles" align="center">
	<ul align="center">
      <p class="Estilo40">Porros, Cumbias</p>
      <p class="Estilo40">Fandangos, Mapalé</p>
      <p class="Estilo40">Sanjuanero</p>
      <p class="Estilo40">Merengues <sub>Folclóricos</sub></p>
      <p class="Estilo40">Vallenatos <sub>Tocados con clarinete u otro pito</sub></p>
	</ul>
</div>
<p align="center" class="Estilo39">&nbsp; </p>
<p align="center" class="Estilo35 Estilo36">Fiesta y cumbia es uno más de los tantos grupos folclóricos que alegra tus   
<p align="center" class="Estilo8">fiestas, desfiles, banquetes, paseos y reuniones sociales... en <u>Medellín</u>.   
<p align="center" class="Estilo8">Luchamos por mantener viva nuestras raíces, rescatando de nuestros ancestros,  
<p align="center" class="Estilo8">las tradiciones culturales que nos representan como colombianos.  
<p align="center" class="Estilo8">Damos a conocer, de una  u otra forma,  a las nuevas generaciones,  un pasado  
<p align="center" class="Estilo8">que solo se puede apreciar  con nuestras expresiones culturales.  
<p align="center" class="Estilo17">¡<span class="Estilo18">F</span><span class="Estilo19">i</span><span class="Estilo20">e</span><span class="Estilo21">sta</span><span class="Estilo22"> y </span><span class="Estilo23">Cum</span><span class="Estilo24">bia</span><span class="Estilo25"> ale</span><span class="Estilo26">gra</span><span class="Estilo27"> tus</span> <span class="Estilo24">ev</span><span class="Estilo31">en</span><span class="Estilo30">tos</span>!  
  <div align="center"><pre class="Estilo40">Nuestro repertorio es variado:
	Vale la pena aclarar que todo este   
	repertorio suena en formato folclórico.</pre></div>
	<!--<p><%#= link_to 'Usuarios:', users_path %> <%#= User.count %> registrados</p>-->
	<p><%= link_to 'Clientes:', clientes_path %> <%= Cliente.count %> registrados</p>
</body>
</html>